{% extends 'base.html.twig' %}

{% block title %}Infection Playground{% endblock %}

{% block body %}
    {{ include('playground/_form.html.twig') }}

    {% if resultOutput is defined %}
        <div class="mt-6 mb-4 p-1 sm:p-4 border  border-gray-200  rounded" style="line-height: 100%;">
            <pre style="overflow: auto; padding: 10px 15px; font-family: monospace;">{{ resultOutput|raw }}</pre>
        </div>
    {% endif %}
{% endblock %}
