infection-builds

###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.php_cs.cache
/*.phar
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
