parameters:
    level: max
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
    bootstrapFiles:
        - ./bin/.phpunit/phpunit-7.5/vendor/autoload.php
    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message#'
        - '#Method App\\Tests\\Unit\\(.*)::(.*)\(\) return type has no value type specified in iterable type Generator#'

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
