parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - src/Html/Ansi/*
        - src/PhpParser/*
    ignoreErrors:
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$(.*?)#'
        - '#^Property App\\Entity\\(.*):\$id is never written, only read.$#'
        - message: '#Parameter \#1 \$string of function trim expects string, mixed given\.#'
          paths:
              - src/EnvVarProcessor/SecretEnvVarProcessor.php
        - message: '#Property App\\Request\\CreateExampleRequest::\$code has no type specified\.#'
          paths:
              - src/Request/CreateExampleRequest.php
