<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="application/javascript" src="/js/min/vs/loader.js"></script>
            <script type="application/javascript" src="/js/App.js"></script>
        {% endblock %}
    </body>
</html>
