<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
    </head>
    <body>
        <nav class="w-full z-20 flex items-center justify-between flex-wrap bg-white py-4 px-2 sm:px-6 border border-gray-200">
            <a href="https://tailwindtemplates.io" class="no-underline flex items-center flex-no-shrink text-white mr-6">
                <img class="h-8 w-8 mr-2" src="{{ asset('build/logo.png') }}" alt="Infection logo">
                <span class="font-medium text-xl tracking-tighter text-green-500">Infection Playground</span>
            </a>
            <div class="block lg:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-green-200 border-green-400 hover:text-green-600 hover:border-green-600"
                        onclick="openNav()">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                            Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                    </svg>
                </button>
            </div>
            <div class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow ">
                    <a href="https://infection.github.io/" class="block mt-4 lg:inline-block text-gray-600 lg:mt-0 hover:text-gray-900 mr-4 no-underline">
                        Documentation
                    </a>
                    <a href="https://github.com/infection/infection"
                       class="block mt-4 lg:inline-block lg:mt-0 text-gray-600 hover:text-gray-900 no-underline">
                        GitHub
                    </a>
                </div>
                <div>
                    <p class="text-gray-500">PHP Mutation Testing</p>
                </div>
            </div>
        </nav>
        <div class="w-full relative bg-white px-2">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
